<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card" style="width: 18rem">
        <img
          src="../<%= detail.img %>"
          class="card-img-top object-fit-cover"
          height="250px"
          alt="<%= detail.name %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= detail.name %></h5>
          <p class="card-subtitle mb-3"><%= detail.email %></p>
          <a href="/contact" class="btn btn-primary">Back to Contact Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
